.frame-chatbox-child,
.frame-chatbox-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 447px;
  height: 638px;
}
.frame-chatbox-item {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-forestgreen-100);
  height: 49px;
}
.nh-thuc-benzen10 {
  position: absolute;
  top: 13px;
  left: 23px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 164px;
}
.vector-icon111 {
  position: absolute;
  top: 13px;
  left: 398px;
  width: 27px;
  height: 27px;
}
.frame-chatbox-child1,
.frame-chatbox-child2,
.frame-chatbox-child3,
.frame-chatbox-child4,
.frame-chatbox-inner {
  position: absolute;
  top: 78px;
  left: 23px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkseagreen-200);
  width: 295px;
  height: 66px;
}
.frame-chatbox-child1,
.frame-chatbox-child2,
.frame-chatbox-child3,
.frame-chatbox-child4 {
  top: 173px;
  left: 130px;
}
.frame-chatbox-child2,
.frame-chatbox-child3,
.frame-chatbox-child4 {
  top: 268px;
}
.frame-chatbox-child3,
.frame-chatbox-child4 {
  top: 363px;
  left: 23px;
}
.frame-chatbox-child4 {
  top: 458px;
}
.cho-benzen {
  position: absolute;
  top: 85px;
  left: 34px;
  line-height: 172.19%;
  font-weight: 500;
  color: var(--color-black);
  display: flex;
  align-items: center;
  width: 273px;
}
.nhp-tin-nhn {
  position: absolute;
  top: 10px;
  left: 22px;
  line-height: 158.5%;
  font-weight: 300;
}
.nhap,
.vector-icon112 {
  position: absolute;
  overflow: hidden;
}
.nhap {
  top: 571px;
  left: 41px;
  border-radius: 153px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 344px;
  height: 44px;
  color: #636363;
}
.vector-icon112 {
  height: 4.86%;
  width: 4.47%;
  top: 90.44%;
  right: 92.62%;
  bottom: 4.7%;
  left: 2.91%;
  max-width: 100%;
  max-height: 100%;
}
.frame-chatbox-child5 {
  position: absolute;
  top: 572px;
  left: 394px;
  width: 42px;
  height: 42px;
}
.frame-chatbox {
  width: 100%;
  position: relative;
  height: 638px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
