body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --body-small-regular: Raleway;

  /* font sizes */
  --font-size-xl: 20px;
  --body-small-regular-size: 14px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-9xl: 28px;
  --font-size-5xl: 24px;
  --font-size-mini: 15px;
  --font-size-smi: 13px;
  --font-size-lg: 18px;
  --font-size-11xl: 30px;
  --font-size-6xl: 25px;
  --font-size-7xl: 26px;
  --font-size-3xs: 10px;
  --font-size-19xl: 38px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #8d8d8d;
  --color-gray-200: #8a8484;
  --color-gray-300: #828282;
  --color-gray-400: #7f7f7f;
  --color-gray-500: #7d7d7d;
  --color-gray-600: #827a7a;
  --color-gray-700: #7c7c7c;
  --color-gray-800: #7c7575;
  --color-gray-1100: rgba(0, 0, 0, 0.4);
  --color-gray-900: rgba(0, 0, 0, 0.3);
  --color-gray-1000: rgba(127, 127, 127, 0.3);
  --color-gray-1200: rgba(0, 0, 0, 0.2);
  --color-gray-1300: rgba(255, 255, 255, 0);
  --color-text: rgba(255, 255, 255, 0.8);
  --color-gray-1400: rgba(0, 0, 0, 0);
  --color-gray-1500: rgba(0, 0, 0, 0.5);
  --color-black: #000;
  --color-dimgray-100: #776f6f;
  --color-dimgray-200: #726a6a;
  --color-dimgray-300: #6b6b6b;
  --color-dimgray-400: #686363;
  --color-forestgreen-100: #2d982a;
  --color-forestgreen-200: rgba(45, 152, 42, 0.5);
  --color-silver-100: #c4c4c4;
  --color-silver-200: #bbb3b3;
  --color-silver-300: rgba(196, 196, 196, 0.5);
  --color-lightgray-100: #d2d2d2;
  --color-lightgray-200: #d0d0d0;
  --dark-primary: #537ce6;
  --color-snow: #fffafa;
  --color-darkgray-100: #b3b3b3;
  --color-darkgray-200: #aaa;
  --light-text: #9a9ea6;
  --color-darkgray-300: #969696;
  --color-darkgray-400: rgba(162, 156, 156, 0.5);
  --color-honeydew-100: #ebffea;
  --color-honeydew-200: #e0f8e4;
  --color-honeydew-300: #d7f1d5;
  --color-honeydew-400: rgba(224, 248, 228, 0.3);
  --color-darkseagreen-100: #c2f4c1;
  --color-darkseagreen-200: #c2f4c0;
  --color-yellowgreen: #7db623;
  --color-green-100: #037700;
  --color-gainsboro-100: #e2e2e2;
  --color-gainsboro-200: #e1e1e1;
  --color-gainsboro-300: #dfdfdf;
  --color-gainsboro-400: #d9d9d9;
  --color-beige: #cfefcd;
  --color-whitesmoke-100: #f8f8f8;
  --color-whitesmoke-200: #f2f2f2;
  --color-whitesmoke-300: #e7eaec;
  --color-whitesmoke-400: #e9e9e9;
  --color-red-100: #ff1e1e;
  --color-red-200: #ff0f0f;
  --color-red-accents: #e97171;
  --color-gray-1: #3a3a3a;
  --color-darkslategray-100: #133240;
  --primary-500: #6949ff;
  --color-lime: #11fd0d;

  /* Gaps */
  --gap-xs: 12px;
  --gap-31xl: 50px;
  --gap-7xs: 6px;
  --gap-11xs: 2px;
  --gap-9xs: 4px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-10xs: 3px;
  --gap-11xl: 30px;
  --gap-2xl: 21px;
  --gap-18xl: 37px;
  --gap-10xl: 29px;
  --gap-xl: 20px;
  --gap-mid: 17px;
  --gap-5xs: 8px;
  --gap-8xs: 5px;
  --gap-123xl: 142px;
  --gap-lg: 18px;
  --gap-3xs: 10px;
  --gap-lgi: 19px;
  --gap-51xl: 70px;
  --gap-26xl: 45px;
  --gap-29xl: 48px;
  --gap-15xl: 34px;
  --gap-3xl: 22px;
  --gap-12xs: 1px;
  --gap-23xl: 42px;
  --gap-81xl: 100px;
  --gap-2xs: 11px;
  --gap-mini: 15px;
  --gap-292xl: 311px;
  --gap-22xl: 41px;
  --gap-4xs: 9px;
  --gap-sm: 14px;
  --gap-6xl: 25px;
  --gap-58xl: 77px;
  --gap-55xl: 74px;
  --gap-85xl: 104px;
  --gap-144xl: 163px;
  --gap-88xl: 107px;
  --gap-40xl: 59px;
  --gap-13xl: 32px;
  --gap-68xl: 87px;
  --gap-46xl: 65px;
  --gap-4xl: 23px;
  --gap-328xl: 347px;
  --gap-364xl: 383px;
  --gap-9xl: 28px;
  --gap-27xl: 46px;
  --gap-273xl: 292px;
  --gap-78xl: 97px;
  --gap-20xl: 39px;
  --gap-6xs: 7px;
  --gap-54xl: 73px;
  --gap-96xl: 115px;
  --gap-8xl: 27px;

  /* Paddings */
  --padding-12xs: 1px;
  --padding-10xl: 29px;
  --padding-35xl: 54px;
  --padding-5xs: 8px;
  --padding-188xl: 207px;
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-3xl: 22px;
  --padding-7xs: 6px;
  --padding-16xl: 35px;
  --padding-82xl: 101px;
  --padding-sm: 14px;
  --padding-19xl: 38px;
  --padding-mid: 17px;
  --padding-6xl: 25px;
  --padding-xs: 12px;
  --padding-9xl: 28px;
  --padding-6xs: 7px;
  --padding-2xs: 11px;
  --padding-9xs: 4px;
  --padding-7xl: 26px;
  --padding-smi: 13px;
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-17xl: 36px;
  --padding-26xl: 45px;
  --padding-mini: 15px;
  --padding-8xs: 5px;
  --padding-30xl: 49px;
  --padding-36xl: 55px;
  --padding-46xl: 65px;
  --padding-10xs: 3px;
  --padding-45xl: 64px;
  --padding-11xs: 2px;
  --padding-128xl: 147px;

  /* Border radiuses */
  --br-lg: 18px;
  --br-11xl: 30px;
  --br-7xs: 6px;
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-285xl-5: 304.5px;
  --br-xl: 20px;
  --br-4xs: 9px;
  --br-mini: 15px;
  --br-7xl: 26px;
  --br-81xl: 100px;
  --br-4xl: 23px;
  --br-9xs: 4px;
  --br-6xs: 7px;
  --br-10xs: 3px;
}
