.bg-bottom10,
.bg30 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.bg30 {
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 537px;
}
.bg-bottom10 {
  background-color: var(--color-forestgreen-100);
  height: 56.4px;
}
.website-l-sn10 {
  margin: 0;
  white-space: pre-wrap;
}
.copyright-2023-bi-container11 {
  width: 100%;
}
.copyright-2023-bi-container10 {
  position: absolute;
  top: 7.4px;
  left: calc(50% - 373px);
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 746px;
  height: 42.3px;
}
.bg29,
.note10 {
  position: absolute;
  width: 100%;
  top: 480.6px;
  right: 0;
  left: 0;
  height: 56.4px;
}
.bg29 {
  top: 0;
  height: 537px;
  text-align: center;
  color: var(--color-snow);
}
.input-email-child8 {
  position: absolute;
  top: 21.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-dimgray-300);
  box-sizing: border-box;
  width: 234px;
  height: 1px;
}
.vector-icon56 {
  position: absolute;
  height: 73.64%;
  width: 12.57%;
  top: 6.36%;
  right: -0.03%;
  bottom: 20%;
  left: 87.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.email22 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 39.2px;
}
.input-email10 {
  position: absolute;
  top: 27px;
  left: -25px;
  width: 287.1px;
  height: 22px;
  display: none;
}
.kt-ni-vi10 {
  position: absolute;
  right: 60px;
  bottom: 59px;
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--color-forestgreen-100);
}
.facebook-original10,
.google-original10 {
  width: 24px;
  position: relative;
  height: 24px;
}
.google-original10 {
  overflow: hidden;
  flex-shrink: 0;
}
.gmail-icon10 {
  width: 27.7px;
  position: relative;
  height: 20.8px;
}
.facebook-original-parent8 {
  position: absolute;
  right: 105px;
  bottom: 21px;
  width: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.ket-noi10 {
  width: 215px;
  height: 74px;
}
.hotline33,
.ket-noi10,
.yy7 {
  position: relative;
}
.hotline33 {
  align-self: stretch;
  width: 58px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.yy7 {
  font-size: var(--font-size-base);
  font-weight: 500;
}
.hotline32,
.thong-tin12 {
  display: flex;
  justify-content: flex-start;
}
.hotline32 {
  height: 16px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-3xs);
  margin-top: -3px;
  color: var(--color-black);
}
.thong-tin12 {
  position: absolute;
  top: 191px;
  left: 1138px;
  height: 112px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-82xl) 0 0;
  box-sizing: border-box;
  color: var(--color-gray-500);
}
.gii-thiu10 {
  width: 245.5px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  height: 31.5px;
  flex-shrink: 0;
}
.chnh-sch-giao12,
.chnh-sch-thanh12,
.gii-thiu-nh11,
.hng-dn-mua12 {
  width: 248.4px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  height: 28.1px;
  flex-shrink: 0;
  opacity: 0.6;
}
.chnh-sch-giao12,
.chnh-sch-thanh12,
.hng-dn-mua12 {
  width: 245.7px;
}
.chnh-sch-giao12,
.chnh-sch-thanh12 {
  width: 251px;
}
.chnh-sch-thanh12 {
  width: 250.9px;
  height: 28px;
}
.footer-column-110 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.danh-mc-sn5 {
  width: 184.8px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  height: 26px;
  flex-shrink: 0;
}
.bnh-l20,
.dc-m19,
.gc-sc-khe20,
.thc-phm-chc19,
.thit-b-y19,
.thuc19 {
  width: 251px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  height: 22px;
  flex-shrink: 0;
  opacity: 0.6;
}
.bnh-l20,
.dc-m19,
.gc-sc-khe20,
.thc-phm-chc19,
.thit-b-y19 {
  width: 163.1px;
  height: 23px;
}
.bnh-l20,
.dc-m19,
.gc-sc-khe20,
.thit-b-y19 {
  width: 185.8px;
  height: 22px;
}
.bnh-l20,
.gc-sc-khe20,
.thit-b-y19 {
  height: 23px;
}
.bnh-l20,
.gc-sc-khe20 {
  font-size: var(--font-size-base);
  display: none;
  height: 22px;
}
.gc-sc-khe20 {
  height: 23px;
}
.chi-muc10 {
  position: absolute;
  width: calc(100% - 953px);
  top: 182px;
  right: 347px;
  left: 606px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}
.tinnhiemmngbw-1-icon10 {
  width: 90.4px;
  position: relative;
  height: 41px;
  object-fit: cover;
}
.boctblackwhite-2-icon10,
.dmca-black-white-210 {
  width: 113px;
  position: relative;
  height: 45.3px;
  object-fit: cover;
}
.dmca-black-white-210 {
  width: 112px;
  height: 40.4px;
}
.tem10 {
  position: absolute;
  top: 225px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-5xl);
  opacity: 0.8;
}
.logobenzen-icon10 {
  width: 166px;
  position: relative;
  height: 54.4px;
  object-fit: cover;
}
.cng-ty-c10 {
  font-weight: 800;
  font-family: var(--font-roboto);
}
.s-kkd-1234678910 {
  font-weight: 500;
}
.cng-ty-c-container10 {
  position: relative;
  line-height: 194.69%;
}
.info10 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.tem-parent3 {
  position: absolute;
  top: 162px;
  left: 45px;
  width: 460px;
  height: 270.3px;
  font-size: var(--font-size-mini);
}
.mastercard-copy-210,
.visabw-2-icon10 {
  width: 75px;
  position: relative;
  height: 46.5px;
  object-fit: cover;
  display: none;
}
.mastercard-copy-210 {
  width: 75.8px;
  height: 47px;
}
.napas-trang-den-110 {
  width: 75px;
  position: relative;
  height: 46.5px;
  object-fit: cover;
}
.vnpaybw-1-icon10 {
  display: none;
}
.momobw-1-icon10,
.vnpaybw-1-icon10 {
  width: 49px;
  position: relative;
  height: 49px;
  object-fit: cover;
}
.thanh-toan10 {
  position: absolute;
  top: 310px;
  right: 164px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.boxchatbw-1-icon10 {
  position: absolute;
  top: 362px;
  left: 1296px;
  width: 97px;
  height: 97px;
  object-fit: cover;
}
.footer18 {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.footer18,
.khung19,
.thuc-chnh-hng23 {
  position: absolute;
  width: 100%;
  left: 0;
}
.khung19 {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-beige);
}
.thuc-chnh-hng23 {
  height: 49.27%;
  top: 50.73%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-icon57 {
  position: absolute;
  height: 45.85%;
  width: 25.64%;
  top: 0;
  right: 36.92%;
  bottom: 54.15%;
  left: 37.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.thuc-chnh-hng22 {
  width: 195px;
  position: relative;
  height: 102.5px;
}
.cam-kt-cht11 {
  position: absolute;
  height: 50.25%;
  width: 100%;
  top: 49.75%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shieldcheck-icon11 {
  position: absolute;
  height: 46.77%;
  width: 25.64%;
  top: 0;
  right: 36.92%;
  bottom: 53.23%;
  left: 37.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cam-kt-cht-lng11 {
  width: 195px;
  position: relative;
  height: 100.5px;
}
.vector-icon58 {
  position: absolute;
  top: 0;
  left: 72px;
  width: 52px;
  height: 49px;
}
.thuc-chnh-hng-parent9 {
  position: absolute;
  top: 29px;
  left: 117px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-123xl);
}
.phn-cam-kt11 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 143px;
  text-align: center;
  font-size: var(--font-size-base);
}
.bg-left1,
.footer17 {
  position: absolute;
  top: 1247px;
  left: 0;
  width: 1440px;
  height: 537px;
}
.bg-left1 {
  top: 0;
  background-color: var(--color-whitesmoke-100);
  border-bottom: 0.5px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 900px;
  height: 343.3px;
}
.box-child {
  width: 9px;
  position: relative;
  height: 7px;
}
.box {
  width: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--color-forestgreen-100);
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.checkbox-material-design {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs);
}
.hnh-nh-icon6 {
  width: 109px;
  position: relative;
  height: 74px;
}
.l-60-vin {
  margin: 0;
}
.nat-c-1000-container {
  width: 340px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.div91 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 25px;
  font-weight: 900;
  text-align: center;
}
.sn-phm5 {
  width: 645px;
  border-radius: var(--br-7xl);
  height: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 var(--padding-smi) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-4xl);
}
.chn-s-lng-child7,
.chn-s-lng-child8,
.chn-s-lng-child9 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  display: none;
}
.chn-s-lng-child7 {
  width: 38.14%;
  right: 61.86%;
  left: 0;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-gray-100);
}
.chn-s-lng-child8,
.chn-s-lng-child9 {
  border: 1px solid var(--color-gray-400);
}
.chn-s-lng-child8 {
  width: 38.14%;
  right: 0;
  left: 61.86%;
  border-radius: var(--br-xl);
}
.chn-s-lng-child9 {
  width: 50.72%;
  right: 26.49%;
  left: 22.78%;
  background-color: var(--color-whitesmoke-200);
}
.vector-icon59,
.vector-icon60 {
  position: absolute;
  height: 50%;
  width: 13.4%;
  top: 25.77%;
  right: 9.07%;
  bottom: 24.23%;
  left: 77.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon60 {
  height: 3.85%;
  top: 51.15%;
  right: 80%;
  bottom: 45%;
  left: 6.6%;
}
.div92 {
  position: absolute;
  height: 100%;
  width: 50.72%;
  top: 0;
  left: 22.78%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chn-s-lng6 {
  width: 97px;
  position: relative;
  height: 26px;
  text-align: center;
  font-size: var(--font-size-base);
}
.deleted-icon {
  width: 32px;
  position: relative;
  height: 34.8px;
  display: none;
}
.sp-chon5 {
  width: 833px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-46xl);
}
.shape-icon {
  width: 18px;
  position: relative;
  height: 18px;
  mix-blend-mode: normal;
}
.checkbox-material-design1 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs);
}
.sn-phm6 {
  width: 645px;
  border-radius: var(--br-7xl);
  height: 105px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-smi) 0 var(--padding-smi) var(--padding-46xl);
  box-sizing: border-box;
  gap: var(--gap-4xl);
}
.list-sp-chn,
.sn-phm6,
.sp-chon6 {
  display: flex;
  justify-content: flex-start;
}
.sp-chon6 {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-7xl) 0 0;
  gap: var(--gap-46xl);
}
.list-sp-chn {
  position: absolute;
  top: 96.1px;
  left: 3px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-mini);
}
.list-chon-child {
  position: absolute;
  top: 83.8px;
  left: 0.7px;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 847px;
  height: 1px;
}
.gi-thnh,
.sn-phm7 {
  width: 379px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.gi-thnh {
  width: 103px;
  font-size: var(--font-size-base);
  text-align: right;
}
.s-lng3 {
  position: relative;
  text-align: center;
}
.title2 {
  position: absolute;
  top: 54.6px;
  left: 13px;
  width: 882.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-30xl) 0 var(--padding-36xl);
  box-sizing: border-box;
  gap: var(--gap-68xl);
}
.gi-hng-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  display: inline-block;
  width: 173.6px;
  height: 27.3px;
}
.list-chon {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 895.7px;
  height: 321.1px;
  text-align: left;
  font-size: var(--font-size-mini);
}
.button-child4,
.chnh-sa-n {
  position: absolute;
  top: 0;
  height: 28px;
}
.button-child4 {
  left: 1px;
  border-radius: var(--br-7xs);
  background-color: var(--color-honeydew-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
  width: 146px;
}
.chnh-sa-n {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 147px;
}
.button6 {
  top: 16px;
  left: 722px;
  width: 147px;
  display: none;
}
.button-child5,
.button6,
.button7 {
  position: absolute;
  height: 28px;
}
.button-child5 {
  top: 0;
  left: 1px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 146px;
}
.button7 {
  top: 16px;
  left: 722px;
  width: 147px;
}
.gio-hang9 {
  width: 912.7px;
  position: relative;
  height: 343px;
  text-align: center;
}
.bg-left2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-honeydew-200);
  height: 392px;
}
.nh-thuc-benzen6,
.tn-khch-hng1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
}
.nh-thuc-benzen6 {
  top: 1.9px;
  left: 156.3px;
  letter-spacing: -0.23px;
  line-height: 20px;
}
.ten {
  width: 275.3px;
  position: relative;
  height: 23px;
}
.xxx7 {
  position: absolute;
  top: 8.26%;
  left: 66.29%;
  letter-spacing: -0.23px;
  line-height: 20px;
}
.sdt {
  width: 237.3px;
  position: relative;
  height: 23px;
}
.email24 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 80px;
}
.benzen20406gmailcom2 {
  position: absolute;
  top: 8.26%;
  left: 48.06%;
  letter-spacing: -0.23px;
  line-height: 20px;
}
.mail {
  width: 327.3px;
  position: relative;
  height: 23px;
}
.s-669-ql12 {
  position: absolute;
  width: 78.34%;
  top: 8.26%;
  left: 21.66%;
  letter-spacing: -0.23px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.dia-chi3 {
  width: 726.3px;
  position: relative;
  height: 23px;
}
.label8 {
  position: relative;
  line-height: 150%;
  font-weight: 300;
}
.label7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.barang-di-pesan {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.label9 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-3xs);
  color: var(--color-red-accents);
  font-family: var(--body-small-regular);
}
.label5,
.label6,
.property-1variant7 {
  display: flex;
  justify-content: flex-start;
}
.label6 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xs);
}
.label5,
.property-1variant7 {
  width: 530px;
  flex-direction: row;
  align-items: center;
}
.property-1variant7 {
  width: 585px;
  background-color: var(--color-white);
  height: 70px;
  align-items: flex-start;
  padding: var(--padding-8xs) var(--padding-xl);
  box-sizing: border-box;
}
.form,
.ghi-ch {
  position: absolute;
}
.form {
  top: 0;
  left: 145px;
  border-radius: var(--br-8xs);
  width: 675px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-mini);
  box-sizing: border-box;
}
.ghi-ch {
  top: 21px;
  left: 0;
  font-size: var(--font-size-mini);
  line-height: 150%;
  display: inline-block;
  width: 80px;
}
.ghi-chu {
  width: 820px;
  position: relative;
  height: 110px;
  font-size: var(--font-size-smi);
}
.thong-tin13 {
  position: absolute;
  width: calc(100% - 489px);
  top: 87px;
  right: 429px;
  left: 60px;
  height: 262px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-mini);
}
.thng-tin-nhn1 {
  position: absolute;
  width: calc(100% - 570.5px);
  top: 25px;
  left: 18.9px;
  font-size: var(--font-size-6xl);
  display: inline-block;
}
.button-child6,
.button8 {
  position: absolute;
  height: 28px;
}
.button-child6 {
  top: 0;
  left: 1px;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 146px;
}
.button8 {
  top: 20px;
  left: 722px;
  width: 147px;
  display: none;
  text-align: center;
}
.button-child7,
.chnh-sa8 {
  position: absolute;
  width: 100%;
  left: 0;
}
.button-child7 {
  height: 78.57%;
  top: 10.71%;
  right: 0;
  bottom: 10.71%;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.chnh-sa8 {
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button9 {
  position: absolute;
  height: 7.14%;
  width: 11.11%;
  top: 5.1%;
  right: 6%;
  bottom: 87.76%;
  left: 82.89%;
  text-align: center;
}
.hinh-thuc-giao-hang {
  width: 900px;
  position: relative;
  height: 392px;
}
.bg-left3 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-honeydew-200);
  height: 216px;
}
.radio-icon5 {
  width: 20px;
  position: relative;
  border-radius: var(--br-81xl);
  height: 20px;
}
.label10 {
  width: 165px;
  position: relative;
  letter-spacing: -0.23px;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.radio5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.thanh-ton-khi {
  position: relative;
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.cc-hnh-thc-thanh-ton,
.radio-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.cc-hnh-thc-thanh-ton {
  position: absolute;
  top: 81px;
  left: 153px;
  width: 581.4px;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-2xl);
}
.hnh-thc-thanh {
  position: absolute;
  width: calc(100% - 536.8px);
  top: 23px;
  left: 19.2px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
}
.hinh-thc-thanh-ton {
  width: 900px;
  position: relative;
  height: 216px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-200);
}
.khung-chinh {
  position: absolute;
  top: 230px;
  left: 76px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--font-size-smi);
}
.thanh-ton {
  position: relative;
  font-weight: 300;
}
.duong-dan6 {
  position: absolute;
  top: 192px;
  left: 90px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.bg-right1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-honeydew-200);
  width: 333px;
  height: 430px;
}
.hon-tt {
  position: relative;
}
.dat-hang {
  position: absolute;
  top: 368px;
  left: 73px;
  border-radius: var(--br-mini);
  background-color: var(--color-forestgreen-100);
  width: 202.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
  box-sizing: border-box;
  color: var(--color-white);
}
.vector-icon63 {
  width: 15px;
  position: relative;
  height: 15px;
}
.ng-vi,
.xav-nhan {
  display: flex;
  align-items: center;
}
.ng-vi {
  width: 223px;
  position: relative;
  line-height: 129.19%;
  height: 35px;
  flex-shrink: 0;
}
.xav-nhan {
  position: absolute;
  top: 318px;
  left: 37px;
  width: 274.6px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-sm);
  font-size: var(--font-size-xs);
}
.div97,
.thnh-tin3 {
  position: relative;
  font-weight: 500;
}
.div97 {
  width: 92px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 23px;
  flex-shrink: 0;
}
.thnh-tin-parent {
  position: absolute;
  top: 269px;
  left: 30px;
  border-radius: var(--br-7xs);
  width: 311.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  gap: var(--gap-40xl);
}
.vector-icon64 {
  position: absolute;
  width: calc(100% - 276.1px);
  top: 6px;
  right: 268.1px;
  left: 8px;
  max-width: 100%;
  overflow: hidden;
  height: 25px;
}
.ma-giam-gia-child {
  width: 291px;
  position: relative;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  height: 1px;
}
.vector-icon65 {
  width: 16px;
  position: relative;
  height: 16px;
}
.div98,
.nhp-m-gim {
  position: absolute;
  top: 0;
  left: 0;
}
.div98 {
  top: 2px;
  font-size: var(--font-size-lg);
  font-weight: 300;
  color: var(--color-black);
}
.nhp-m-gim-gi-parent {
  width: 187px;
  position: relative;
  height: 23px;
}
.vector-parent {
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-mini);
}
.ma-giam-gia2 {
  position: absolute;
  top: 193px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-4xs);
  color: var(--color-gray-1500);
}
.n-hng {
  position: absolute;
  top: 0;
  left: 46.1px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  display: inline-block;
  width: 225.6px;
}
.div99 {
  width: 79px;
  position: relative;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.tng-tin-parent {
  width: 288px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-88xl);
}
.div100 {
  position: relative;
  font-weight: 500;
  text-align: center;
}
.gim-gi-parent {
  width: 286px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-144xl);
}
.div101,
.tm-tnh-parent {
  display: flex;
  align-items: center;
}
.div101 {
  width: 92px;
  position: relative;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  height: 23px;
  flex-shrink: 0;
}
.tm-tnh-parent {
  width: 286px;
  border-radius: var(--br-7xs);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  gap: var(--gap-85xl);
}
.frame-group,
.ph-vn-chuyn-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ph-vn-chuyn-parent {
  width: 264px;
  flex-direction: row;
  gap: var(--gap-55xl);
}
.frame-group {
  position: absolute;
  top: 52px;
  left: 9.9px;
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--font-size-mini);
}
.gia-don {
  position: absolute;
  width: calc(100% - 43.8px);
  top: 18px;
  right: 21.8px;
  left: 22px;
  height: 234px;
  font-size: var(--body-small-regular-size);
}
.hoa-don {
  position: absolute;
  top: 230px;
  left: 1025px;
  width: 341.7px;
  height: 430px;
  font-size: var(--font-size-xl);
}
.thuthu-1-icon6,
.vector-icon66 {
  width: 23px;
  position: relative;
  height: 23px;
}
.thuthu-1-icon6 {
  border-radius: var(--br-285xl-5);
  object-fit: cover;
}
.vector-icon66 {
  display: none;
}
.no-background-icons9 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-1400);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.top-child7 {
  top: 28.5px;
  left: -0.5px;
  border-right: 1px solid var(--color-silver-300);
  box-sizing: border-box;
  width: 1px;
  height: 17px;
  display: none;
}
.menu9,
.top-child7,
.top9 {
  position: absolute;
}
.top9 {
  height: calc(100% - 103px);
  top: 5px;
  right: 40px;
  bottom: 98px;
  width: 125px;
  cursor: pointer;
}
.menu9 {
  top: 8px;
  left: 428px;
  width: 584px;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-35xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
}
.logobenzen-icon11 {
  position: absolute;
  top: 18px;
  left: 40px;
  width: 180px;
  height: 59px;
  object-fit: cover;
}
.bg31 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-snow);
  width: 1440px;
  height: 132px;
  font-size: var(--font-size-xs);
}
.union-icon11 {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.close9 {
  position: absolute;
  top: 9px;
  left: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.ti-y5 {
  text-decoration: underline;
}
.xem-th-l-container3 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 300;
}
.day9,
.mua-hng-tch-ly-nhn-ngay-parent3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mua-hng-tch-ly-nhn-ngay-parent3 {
  overflow: hidden;
  padding: var(--padding-9xs) var(--padding-3xl);
  gap: var(--gap-12xs);
}
.day9 {
  width: 30px;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  height: 30px;
}
.div104 {
  position: relative;
  font-weight: 500;
  color: var(--color-white);
}
.container9,
.time9 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.time9 {
  display: none;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--dark-primary);
}
.container9 {
  position: absolute;
  width: calc(100% - 300px);
  top: 0;
  right: 150px;
  left: 150px;
  height: 48px;
  display: flex;
  gap: var(--gap-5xl);
}
.top-bar9 {
  position: absolute;
  bottom: 132px;
  left: 0;
  background-color: var(--color-forestgreen-100);
  width: 1440px;
  height: 44px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.thuc20 {
  position: relative;
  text-transform: uppercase;
}
.item-thuoc9 {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.coloricon76 {
  width: 16px;
  position: relative;
  height: 16px;
  display: none;
}
.categories9,
.item-benhly9 {
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.item-benhly9 {
  height: 24px;
  display: none;
  justify-content: center;
  padding: 0 var(--padding-xl);
  gap: var(--gap-base);
  font-size: var(--font-size-xl);
}
.categories9 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-forestgreen-100);
  height: 34px;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--padding-188xl);
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.gi-hng10 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
}
.vector-icon67 {
  width: 31px;
  position: relative;
  height: 27px;
}
.gio-hang10 {
  position: absolute;
  bottom: 43px;
  left: 1277px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-2xs) var(--padding-sm) var(--padding-xs);
  gap: var(--gap-7xs);
}
.lich-su-mua-hang-child7 {
  width: 20.1px;
  position: relative;
  height: 27px;
}
.lich-su-mua-hang10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xs);
}
.lsmh5,
.search-box10 {
  position: absolute;
  background-color: var(--color-white);
  display: flex;
  justify-content: flex-start;
}
.lsmh5 {
  bottom: 43px;
  left: 1134px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-1200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-6xs) var(--padding-sm);
  cursor: pointer;
}
.search-box10 {
  bottom: 51px;
  left: 424px;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 592px;
  height: 48px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-12xs) 0 var(--padding-10xl);
  gap: var(--gap-xs);
  text-align: center;
  color: var(--color-gray-1500);
}
.header-n3,
.header15 {
  position: absolute;
  left: 0;
  height: 176px;
}
.header15 {
  width: 100%;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.header-n3 {
  top: 0;
  width: 1440px;
  font-size: var(--font-size-mini);
}
.thanh-ton-cho-thnh-vin {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 1784px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-small-regular-size);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
