.bg-bottom29,
.bg87 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.bg87 {
  height: 100%;
  top: 0;
  background-color: var(--color-darkgray-300);
}
.bg-bottom29 {
  background-color: var(--color-silver-100);
  height: 68px;
}
.website-l-sn29 {
  margin: 0;
  white-space: pre-wrap;
}
.copyright-2022-bi-container15 {
  width: 100%;
}
.copyright-2022-bi-container14 {
  position: absolute;
  bottom: 8.8px;
  left: calc(50% - 373px);
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 746px;
  height: 51px;
}
.bg86,
.note29 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 68px;
}
.bg86 {
  height: 100%;
  top: 0;
  text-align: center;
  font-size: var(--body-small-regular-size);
}
.input-email-child27 {
  position: absolute;
  top: 21.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-dimgray-300);
  box-sizing: border-box;
  width: 234px;
  height: 1px;
}
.vector-icon224 {
  position: absolute;
  height: 73.64%;
  width: 12.57%;
  top: 6.36%;
  right: -0.03%;
  bottom: 20%;
  left: 87.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.email69 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 39.2px;
}
.input-email29 {
  position: absolute;
  top: 27px;
  left: -25px;
  width: 287.1px;
  height: 22px;
  display: none;
}
.kt-ni-vi29 {
  position: absolute;
  right: -23px;
  bottom: 53px;
  font-size: var(--font-size-xl);
  line-height: 150%;
  color: var(--color-white);
}
.facebook-original29,
.google-original29 {
  width: 24px;
  position: relative;
  height: 24px;
}
.google-original29 {
  overflow: hidden;
  flex-shrink: 0;
}
.gmail-icon29 {
  width: 27.7px;
  position: relative;
  height: 20.8px;
}
.facebook-original-parent27 {
  position: absolute;
  right: 105px;
  bottom: 17px;
  width: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.ket-noi29 {
  width: 215px;
  position: relative;
  height: 74px;
}
.hotline101 {
  align-self: stretch;
  width: 58px;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.div375 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.hotline100,
.thong-tin38 {
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.thong-tin38 {
  position: absolute;
  top: 290px;
  left: 92px;
  height: 112px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-82xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-10xs);
  font-size: var(--body-small-regular-size);
  color: var(--color-gray-500);
}
.mess-icon7 {
  position: absolute;
  height: 17.16%;
  width: 6.94%;
  top: 72.39%;
  right: 6.94%;
  bottom: 10.44%;
  left: 86.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.boxchatbw-1-icon29 {
  position: absolute;
  top: 372px;
  left: 1254px;
  width: 97px;
  height: 97px;
  object-fit: cover;
}
.chnh-sch-bo31,
.h-thng-ca13 {
  position: absolute;
  height: 12.79%;
  width: 99.96%;
  top: 70.14%;
  left: 0;
  line-height: 150%;
  display: inline-block;
  opacity: 0.6;
}
.chnh-sch-bo31 {
  top: 87.21%;
}
.dc-s7,
.giy-php-kinh7 {
  height: 12.83%;
  opacity: 0.6;
}
.giy-php-kinh7 {
  position: absolute;
  width: 100%;
  top: 53.01%;
  left: 0;
  line-height: 150%;
  display: inline-block;
}
.dc-s7 {
  width: 97.89%;
  top: 35.89%;
}
.dc-s7,
.tng-quan-doanh7,
.v-thanh-bnh13 {
  position: absolute;
  left: 0;
  line-height: 150%;
  display: inline-block;
}
.tng-quan-doanh7 {
  height: 12.83%;
  width: 98.96%;
  top: 18.81%;
  opacity: 0.6;
}
.v-thanh-bnh13 {
  height: 14.38%;
  width: 97.81%;
  top: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.footer-column-129 {
  width: 251px;
  position: relative;
  height: 219px;
}
.chnh-sch-i31,
.hng-dn-mua31,
.kim-tra-ha7 {
  position: absolute;
  height: 12.79%;
  width: 81.27%;
  top: 70.32%;
  left: 0;
  line-height: 150%;
  display: inline-block;
  opacity: 0.6;
}
.chnh-sch-i31,
.hng-dn-mua31 {
  top: 87.21%;
}
.chnh-sch-i31 {
  top: 53.42%;
}
.chnh-sch-giao31 {
  height: 12.79%;
  width: 100%;
  top: 36.53%;
  opacity: 0.6;
}
.chnh-sch-giao31,
.chnh-sch-thanh31,
.h-tr-khch7 {
  position: absolute;
  left: 0;
  line-height: 150%;
  display: inline-block;
}
.chnh-sch-thanh31 {
  height: 12.79%;
  width: 64.94%;
  top: 19.63%;
  opacity: 0.6;
}
.h-tr-khch7 {
  height: 14.16%;
  width: 93.23%;
  top: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.bnh-l58,
.dc-m57,
.gc-sc-khe59,
.thit-b-y57 {
  position: absolute;
  height: 14.86%;
  width: 74.02%;
  top: 110.14%;
  left: 0;
  line-height: 150%;
  display: none;
  opacity: 0.6;
}
.dc-m57,
.gc-sc-khe59,
.thit-b-y57 {
  height: 15.54%;
  top: 132.43%;
}
.dc-m57,
.thit-b-y57 {
  top: 84.46%;
  display: inline-block;
}
.dc-m57 {
  height: 14.86%;
  top: 64.19%;
}
.thc-phm-chc57 {
  height: 15.54%;
  width: 64.98%;
  top: 43.24%;
  opacity: 0.6;
}
.danh-mc7,
.thc-phm-chc57,
.thuc58 {
  position: absolute;
  left: 0;
  line-height: 150%;
  display: inline-block;
}
.thuc58 {
  height: 14.86%;
  width: 100%;
  top: 22.97%;
  opacity: 0.6;
}
.danh-mc7 {
  height: 17.57%;
  width: 73.63%;
  top: 0;
  text-transform: capitalize;
  font-weight: 600;
}
.footer-column-329 {
  width: 251px;
  position: relative;
  height: 148px;
}
.chi-muc29 {
  position: absolute;
  width: calc(100% - 645px);
  right: 8px;
  bottom: 254px;
  left: 637px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--color-white);
}
.tinnhiemmngbw-1-icon30 {
  width: 90.4px;
  position: relative;
  height: 41px;
  object-fit: cover;
}
.boctblackwhite-2-icon30,
.dmca-black-white-230 {
  width: 113px;
  position: relative;
  height: 45.3px;
  object-fit: cover;
}
.dmca-black-white-230 {
  width: 112px;
  height: 40.4px;
}
.tem29 {
  position: absolute;
  right: 729.6px;
  bottom: 134.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-5xl);
  opacity: 0.8;
}
.logo-icon13 {
  width: 245px;
  position: relative;
  height: 67px;
  object-fit: cover;
}
.cng-ty-c29 {
  font-weight: 800;
  font-family: var(--font-roboto);
}
.s-kkd-1234678929 {
  font-weight: 500;
}
.cng-ty-c-container29 {
  position: relative;
  line-height: 194.69%;
}
.info29 {
  position: absolute;
  top: 42px;
  left: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-gainsboro-200);
}
.mastercard-copy-229,
.visabw-2-icon29 {
  width: 75px;
  position: relative;
  height: 46.5px;
  object-fit: cover;
  display: none;
}
.mastercard-copy-229 {
  width: 75.8px;
  height: 47px;
}
.napas-trang-den-129 {
  width: 75px;
  position: relative;
  height: 46.5px;
  object-fit: cover;
}
.vnpaybw-1-icon29 {
  display: none;
}
.momobw-1-icon29,
.vnpaybw-1-icon29 {
  width: 49px;
  position: relative;
  height: 49px;
  object-fit: cover;
}
.thanh-toan29 {
  position: absolute;
  top: 303px;
  right: 98.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.khung61,
.thuc-chnh-hng63 {
  position: absolute;
  width: 100%;
  left: 0;
}
.khung61 {
  height: 83.56%;
  top: 16.44%;
  right: 0;
  bottom: 0;
  background-color: var(--color-gainsboro-400);
}
.thuc-chnh-hng63 {
  height: 49.27%;
  top: 50.73%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-icon225 {
  position: absolute;
  height: 45.85%;
  width: 25.64%;
  top: 0;
  right: 36.92%;
  bottom: 54.15%;
  left: 37.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.thuc-chnh-hng62 {
  width: 195px;
  position: relative;
  height: 102.5px;
}
.cam-kt-cht31 {
  position: absolute;
  height: 50.25%;
  width: 100%;
  top: 49.75%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shieldcheck-icon31 {
  position: absolute;
  height: 46.77%;
  width: 25.64%;
  top: 0;
  right: 36.92%;
  bottom: 53.23%;
  left: 37.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cam-kt-cht-lng31 {
  width: 195px;
  position: relative;
  height: 100.5px;
}
.vector-icon226 {
  position: absolute;
  height: 50.24%;
  width: 21.03%;
  top: 0;
  right: 39.49%;
  bottom: 49.76%;
  left: 39.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.thuc-chnh-hng-parent29 {
  position: absolute;
  top: 49px;
  left: 117px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-123xl);
}
.phn-cam-kt31 {
  position: absolute;
  top: -158px;
  left: 0;
  width: 1440px;
  height: 176.4px;
  text-align: center;
  color: var(--color-dimgray-200);
}
.footer54,
.phn-cam-kt32 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 518px;
  color: var(--color-snow);
}
.phn-cam-kt32 {
  bottom: 499.6px;
  height: 176.4px;
  text-align: center;
  color: var(--color-dimgray-200);
}
.trang-ch51 {
  position: relative;
  font-weight: 300;
}
.duong-dan22 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  color: var(--color-dimgray-100);
}
.lon-icon5,
.nho-icon10 {
  width: 260px;
  position: relative;
  height: 0;
  z-index: 0;
}
.nho-icon10 {
  width: 867px;
  z-index: 1;
}
.th-nm-ngy {
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-200);
  z-index: 2;
}
.tm-hiu-chung {
  width: 258px;
  position: relative;
  font-size: var(--font-size-13xl);
  display: inline-block;
  height: 14px;
  flex-shrink: 0;
  z-index: 3;
}
.thoai-hoa-ot {
  margin: 0;
}
.bin-chng-c-container,
.nhng-du-hiu-container,
.thoai-hoa-ot-container,
.thoai-hoa-ot-container1 {
  width: 395px;
  position: absolute;
  margin: 0 !important;
  top: 237px;
  left: 1px;
  font-weight: 600;
  display: inline-block;
  height: 39px;
  flex-shrink: 0;
  z-index: 4;
}
.bin-chng-c-container,
.nhng-du-hiu-container,
.thoai-hoa-ot-container1 {
  z-index: 5;
}
.bin-chng-c-container,
.nhng-du-hiu-container {
  width: 780px;
  top: 1186px;
  z-index: 6;
}
.bin-chng-c-container {
  width: 867px;
  top: 1511px;
  left: 0;
  z-index: 7;
}
.nho-icon11 {
  width: 867px;
  display: none;
  z-index: 8;
}
.lon-icon6,
.nho-icon11,
.nho-icon12 {
  position: relative;
  height: 0;
}
.nho-icon12 {
  width: 212px;
  display: none;
  z-index: 9;
}
.lon-icon6 {
  width: 529px;
  z-index: 10;
}
.thoi-ha-t5 {
  text-decoration: underline;
}
.thoi-ha-t-sng-c {
  color: inherit;
}
.ct-sng-c-container {
  width: 867px;
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  height: 120px;
  flex-shrink: 0;
  z-index: 11;
}
.nho-icon13 {
  width: 867px;
  position: relative;
  height: 0;
  display: none;
  z-index: 12;
}
.img-icon5 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 279px;
  flex-shrink: 0;
  z-index: 13;
}
.a-m-mt {
  font-weight: 600;
  font-family: var(--font-roboto);
}
.khi-gi-i-container,
.triu-chng-thng {
  width: 867px;
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  height: 278px;
  flex-shrink: 0;
  z-index: 14;
}
.triu-chng-thng {
  width: 360px;
  font-size: var(--font-size-13xl);
  height: 65px;
  z-index: 15;
}
.nga-ran-t {
  margin-bottom: 0;
}
.nga-ran-t-v-yu-cnh-tay {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-5xl);
}
.i-vi-hu-container,
.nu-ty-sng-container {
  width: 867px;
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  height: 229px;
  flex-shrink: 0;
  z-index: 16;
}
.nu-ty-sng-container {
  height: 106px;
  z-index: 17;
}
.nho-icon14,
.nho-icon15 {
  position: relative;
  height: 0;
}
.nho-icon14 {
  width: 867px;
  display: none;
  z-index: 18;
}
.nho-icon15 {
  width: 386px;
  z-index: 19;
}
.lon-icon7,
.nho-icon16,
.nho-icon17,
.nho-icon18 {
  width: 396px;
  position: relative;
  height: 0;
  display: none;
  z-index: 20;
}
.nho-icon16,
.nho-icon17,
.nho-icon18 {
  width: 867px;
  z-index: 21;
}
.nho-icon17,
.nho-icon18 {
  z-index: 22;
}
.nho-icon18 {
  width: 871px;
  z-index: 23;
}
.lon-icon8,
.lon-icon9,
.nho-icon19 {
  width: 528px;
  position: relative;
  height: 0;
  z-index: 24;
}
.lon-icon9,
.nho-icon19 {
  width: 867px;
  z-index: 25;
}
.lon-icon9 {
  width: 396px;
  z-index: 26;
}
.lon-icon10,
.nho-icon20,
.nho-icon21 {
  width: 871px;
  position: relative;
  height: 0;
  z-index: 27;
}
.lon-icon10,
.nho-icon21 {
  width: 614px;
  z-index: 28;
}
.nho-icon21 {
  width: 867px;
  z-index: 29;
}
.lon-icon11,
.nho-icon22,
.nho-icon23,
.nho-icon24 {
  width: 867px;
  position: relative;
  height: 0;
  z-index: 30;
}
.lon-icon11,
.nho-icon23,
.nho-icon24 {
  z-index: 31;
}
.lon-icon11,
.nho-icon24 {
  width: 612px;
  z-index: 32;
}
.lon-icon11 {
  width: 528px;
  z-index: 33;
}
.nho-icon25,
.nho-icon26,
.nho-icon27 {
  width: 869px;
  position: relative;
  height: 0;
  z-index: 34;
}
.nho-icon26,
.nho-icon27 {
  z-index: 35;
}
.nho-icon27 {
  width: 612px;
  z-index: 36;
}
.lon-group {
  position: absolute;
  top: 119px;
  left: 378px;
  width: 870px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 51px;
  font-size: var(--font-size-11xl);
}
.frame-child159,
.frame-child160 {
  position: absolute;
  background-color: var(--color-darkseagreen-200);
}
.frame-child159 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 334px;
  height: 493px;
}
.frame-child160 {
  top: 148px;
  left: 32px;
  border-radius: 12px;
  width: 252px;
  height: 51px;
}
.ch-sinh,
.iu-tr1,
.nguy-c,
.nguyn-nhn,
.triu-chng {
  position: absolute;
  top: 162px;
  left: 94px;
  font-weight: 500;
  display: inline-block;
  width: 110px;
}
.ch-sinh,
.iu-tr1,
.nguy-c,
.nguyn-nhn {
  top: 221px;
  width: 132px;
}
.ch-sinh,
.iu-tr1,
.nguy-c {
  top: 282px;
}
.ch-sinh,
.iu-tr1 {
  top: 343px;
}
.ch-sinh {
  top: 402px;
  width: 166px;
}
.lon-icon12,
.nho-icon28 {
  width: 260px;
  position: relative;
  height: 0;
  display: none;
}
.nho-icon28 {
  width: 212px;
}
.frame-wrapper,
.lon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.lon-container {
  width: 212px;
  height: 0;
  gap: 60px;
}
.frame-wrapper {
  position: absolute;
  top: 119px;
  left: 48px;
}
.mc-lc,
.tm-hiu-chung1 {
  position: absolute;
  display: inline-block;
}
.mc-lc {
  top: 32px;
  left: 41px;
  font-size: var(--font-size-9xl);
  color: var(--color-green-100);
  width: 258px;
}
.tm-hiu-chung1 {
  top: 101px;
  left: 94px;
  font-weight: 500;
  width: 146px;
}
.duong-dan-group,
.rectangle-parent2 {
  position: absolute;
  top: 56px;
  left: 0;
  width: 334px;
  height: 493px;
  font-size: var(--font-size-xl);
}
.duong-dan-group {
  top: 277px;
  left: 92px;
  width: 1248px;
  height: 2457px;
  font-size: var(--body-small-regular-size);
}
.thoai-hoa-ot-container2 {
  position: absolute;
  top: 365px;
  left: 470px;
  font-size: var(--font-size-19xl);
  display: inline-block;
  width: 909px;
}
.bg-child4,
.header38 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgray-200);
  width: 1440px;
  height: 204px;
}
.header38 {
  top: 48px;
  background-color: var(--color-snow);
  height: 156px;
}
.union-icon33 {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.close28 {
  position: absolute;
  top: 12px;
  left: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gim-n-506,
.t-ngy-011220226 {
  position: relative;
}
.t-ngy-011220226 {
  font-size: var(--font-size-xs);
  font-weight: 300;
}
.gim-n-50-khi-mua-sn-phm-parent4 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xl);
  gap: var(--gap-10xs);
}
.div378 {
  position: relative;
  font-weight: 500;
}
.day28 {
  width: 30px;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.div379 {
  position: relative;
  font-weight: 500;
  color: var(--color-white);
}
.container28,
.time28 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.time28 {
  display: none;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--dark-primary);
}
.container28 {
  position: absolute;
  width: calc(100% - 300px);
  top: 0;
  right: 150px;
  left: 150px;
  height: 48px;
  display: flex;
  gap: var(--gap-5xl);
}
.bg88,
.top-bar28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.top-bar28 {
  background-color: var(--color-darkgray-300);
  height: 48px;
}
.bg88 {
  height: 204px;
  text-align: center;
  font-size: var(--body-small-regular-size);
  color: var(--color-white);
}
.vector-icon229 {
  width: 31px;
  position: relative;
  height: 27px;
}
.gi-hng40 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 900;
}
.gio-hang38 {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-7xs);
}
.lich-su-mua-hang-child26 {
  width: 20.1px;
  position: relative;
  height: 27px;
}
.lich-su-mua-hang29 {
  position: absolute;
  right: 143px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-7xs);
}
.right6 {
  position: absolute;
  right: 99px;
  bottom: 68px;
  width: 323.1px;
  height: 27px;
}
.logo-icon14 {
  position: absolute;
  top: 84px;
  left: 92px;
  width: 230px;
  height: 62.6px;
  object-fit: cover;
}
.thuc59 {
  position: relative;
  text-transform: uppercase;
}
.coloricon210 {
  width: 16px;
  position: relative;
  height: 16px;
}
.item-thuoc28 {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.coloricon214 {
  width: 16px;
  position: relative;
  height: 16px;
  display: none;
}
.categories28,
.item-benhly28 {
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.item-benhly28 {
  height: 24px;
  display: none;
  justify-content: center;
  padding: 0 var(--padding-xl);
  gap: var(--gap-base);
}
.categories28 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkgray-300);
  height: 34px;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--padding-188xl);
  color: var(--color-text);
}
.vector-icon230 {
  width: 23px;
  position: relative;
  height: 23px;
}
.no-background-icons28,
.top-child26 {
  position: absolute;
  box-sizing: border-box;
}
.no-background-icons28 {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-1300);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-9xs);
}
.top-child26 {
  top: 25.5px;
  left: 136.5px;
  border-right: 1px solid var(--color-silver-300);
  width: 1px;
  height: 17px;
}
.hotline103 {
  align-self: stretch;
  width: 60px;
  position: relative;
  font-weight: 600;
  display: none;
  align-items: flex-end;
  flex-shrink: 0;
}
.b12 {
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-silver-100);
}
.hotline102 {
  position: absolute;
  height: calc(100% - 24px);
  top: 17px;
  right: 138px;
  bottom: 7px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-11xs);
  font-size: var(--font-size-base);
  color: var(--color-lightgray-100);
}
.top28 {
  position: absolute;
  height: calc(100% - 152px);
  top: 30px;
  right: 99px;
  bottom: 122px;
  width: 269px;
}
.coloricon216 {
  width: 20px;
  position: relative;
  height: 20px;
}
.language13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
}
.language12,
.menu28,
.search-box30 {
  position: absolute;
  top: 63px;
  flex-direction: row;
  align-items: center;
}
.language12 {
  left: 1142px;
  display: none;
  justify-content: flex-end;
  gap: var(--gap-7xs);
  text-align: center;
  font-size: var(--body-small-regular-size);
}
.menu28,
.search-box30 {
  left: 390px;
  width: 584px;
  height: 18px;
  display: flex;
  justify-content: center;
  padding: 0 var(--padding-35xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  color: var(--light-text);
}
.search-box30 {
  top: 102px;
  left: 394px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver-100);
  width: 592px;
  height: 48px;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-10xl);
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-text);
}
.header37 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 215px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-silver-100);
}
.categories29,
.top-bar29 {
  position: absolute;
  left: 0;
  background-color: var(--color-forestgreen-100);
}
.top-bar29 {
  top: 0;
  width: 1440px;
  height: 48px;
}
.categories29 {
  width: 100%;
  right: 0;
  bottom: 0;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-188xl);
  box-sizing: border-box;
  color: var(--color-white);
}
.b13 {
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.language14,
.menu29 {
  position: absolute;
  top: 63px;
  flex-direction: row;
  align-items: center;
}
.language14 {
  left: 1142px;
  display: none;
  justify-content: flex-end;
  gap: var(--gap-7xs);
  text-align: center;
  font-size: var(--body-small-regular-size);
  color: var(--color-silver-100);
}
.menu29 {
  left: 390px;
  width: 584px;
  height: 18px;
  display: flex;
  justify-content: center;
  padding: 0 var(--padding-35xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
}
.header39 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 215px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.bg91,
.search-box32 {
  background-color: var(--color-white);
}
.search-box32 {
  position: absolute;
  top: 102px;
  left: 393px;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 592px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-10xl);
  gap: var(--gap-xs);
  text-align: center;
  color: var(--color-gray-1500);
}
.bg91 {
  height: 100%;
  top: 0;
}
.bg-bottom30,
.bg90,
.bg91 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.bg-bottom30 {
  background-color: var(--color-forestgreen-100);
  height: 68px;
}
.bg90 {
  height: 100%;
  top: 0;
  text-align: center;
  font-size: var(--body-small-regular-size);
  color: var(--color-snow);
}
.kt-ni-vi30 {
  position: absolute;
  right: -23px;
  bottom: 53px;
  font-size: var(--font-size-xl);
  line-height: 150%;
  color: var(--color-forestgreen-100);
}
.hotline106 {
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.chi-muc30,
.info30 {
  position: absolute;
  display: flex;
  align-items: flex-start;
}
.chi-muc30 {
  width: calc(100% - 645px);
  right: 8px;
  bottom: 254px;
  left: 637px;
  flex-direction: row;
  justify-content: space-between;
}
.info30 {
  top: 42px;
  left: 92px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.khung63,
.phn-cam-kt33 {
  position: absolute;
  left: 0;
}
.khung63 {
  height: 83.56%;
  width: 100%;
  top: 16.44%;
  right: 0;
  bottom: 0;
  background-color: var(--color-yellowgreen);
}
.phn-cam-kt33 {
  top: -158px;
  width: 1440px;
  height: 176.4px;
  text-align: center;
}
.footer55 {
  bottom: 0;
  height: 518px;
}
.footer55,
.khung64,
.phn-cam-kt34 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.khung64 {
  height: 83.56%;
  top: 16.44%;
  bottom: 0;
  background-color: var(--color-darkseagreen-200);
}
.phn-cam-kt34 {
  bottom: 499.6px;
  height: 176.4px;
  text-align: center;
}
.dmca-black-white-4 {
  position: absolute;
  top: 2524px;
  left: 599px;
  width: 112px;
  height: 40.4px;
  object-fit: cover;
}
.boctblackwhite-4-icon,
.tinnhiemmngbw-3-icon {
  position: absolute;
  top: 2522px;
  left: 348px;
  width: 90.4px;
  height: 41px;
  object-fit: cover;
}
.boctblackwhite-4-icon {
  left: 462px;
  width: 113px;
  height: 45.3px;
}
.thng-tin-bnh {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  border: 3px solid var(--color-gray-500);
  box-sizing: border-box;
  height: 2708px;
  overflow: hidden;
  display: none;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
